 body {
    font: 20px Lucida Sans Unicode, sans-serif;
    /* background: linear-gradient(#FF69B4, white); */
    margin: 0;
}

header {
    background-image: linear-gradient(190deg, #be2edd, #686de0);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
}

footer {
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
}

#main {
    width: 100%;
    height: 100%;
}

header ul {
    display: flex;
    list-style-type: none;
    /* justify-content: flex-end; */
    height: 100%;
}

header li {
    align-items: center;
    margin: auto 20px;
}

.title {
    margin-right: auto;
}

/* .navOption {
} */

header a{
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}