 @import"forms.css";

 @font-face {
    font-family: BunchBlossoms;
    src: url("http://localhost:8080/camagru/webroot/fonts/BunchBlossomsPersonalUse-0nA4.ttf") format("truetype");
}
body {
    font: calc(12px + 0.5vw) Lucida Sans Unicode, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}



header {
    background-image: linear-gradient(190deg, #be2edd, #686de0);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
}

footer {
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header ul {
    display: flex;
    list-style-type: none;
    /* justify-content: flex-end; */
    height: 100%;
}

header li {
    align-items: center;
    margin: auto 20px;
    padding: 3px;
}

.camagruTitle {
    margin-right: auto;
    font-family: "BunchBlossoms" !important;
    font-size: 34px;
}

.title {
    font-family: "BunchBlossoms" !important;
    font-size: 30px;
}

.funButton {
    padding:10px 20px;
    border: 1px solid white;
}
.funButton:hover { border: 2px solid white}

.navOption:hover { border-bottom: 1px solid white;}

header a{
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
}

#alertBox {
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    width: 90%;
    height: fit-content;
    margin: 30px auto;
    text-align: center;
    padding: 5px 0px 40px;
    background-color: white;
    /* display: flex; */
}

#alertBox p {
    margin: auto;
}
#alertBox:hover .closeDiv {
    opacity: 0.3;
    background-color: white;
}
#alertBox .closeDiv:hover { opacity: 1; }

.closeDiv {
    opacity: 0;
    position: sticky;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    margin: 0;
}

.closeDiv:before, .closeDiv:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.closeDiv:before {
    transform: rotate(45deg);
}
.closeDiv:after {
    transform: rotate(-45deg);
}