#feed {
    display: flex;
    flex-wrap: wrap;
}

#feed .polaBorder {
    margin: 50px auto;
}

.feedImg {
    margin: 30px 20px auto 20px;
    width: 500px;
    height: 375px;
}
#feed .icon {
    width: 50px;
}
#feed p {
    font-size: 20px;
}

#imgInfos button {
    width: fit-content;
    height: fit-content;
    border: none;
}

#backAndNext {
    display: block;
}