#feed {
    display: flex;
    flex-wrap: wrap;
}

#feed .polaBorder {
    margin: 50px auto;
}

.polaBorder .imgInfos {
    display: flex;
    flex-direction: row;
}

.feedImg {
    margin: 30px auto;
    max-width: 500px;
    max-height: 375px;
}

#feed .icon {
    width: 50px;
}
#feed p {
    font-size: 20px;
    align-self: center;
}

.imgInfos button {
    width: fit-content;
    height: fit-content;
    border: none;
    margin: auto;
}

.imgInfos .infos {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100;
}

#backAndNext {
    display: block;
}

/* COMMENTS */

#commentBox {
    flex-direction: column;
}

.commentForm {
    margin: 20px auto;
    width: 95%;
}

.commentForm textarea {
    width: 100%;
    height: 80px;
    font-size: 16px;
    margin: 10px auto 10px;
}

.commentsDisplay {
    max-height: 200px;
    overflow-y: auto;
    font-size: 12px;
}

.commentInfo {
    display: flex;
    flex-direction: row;
}
.commentDate {
    margin-left: auto;
    font-weight: lighter;
}
.commentAuthor {
    font-weight: bolder;
}

.commentsDisplay .singleComment {
    border: 1px solid #B0B0B0;
    margin: 10px;
    padding: 5px;
}
.commentForm button {
    width: 100%;
    background-color: white;
}
.commentForm button:hover {background-color: whitesmoke;}