.form {
    margin: 100px auto;
    background-image: linear-gradient(-150deg, #686de0, #be2edd);
    width: 50%;
    max-width: 500px;
    height: fit-content;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(12px + 1vw);
}

form {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    font-size: calc(12px + 0.5vw);
    width: 75%;
}

input {
    height: 30px;
    outline: none;
}
button {
    height: 30px;
    font: calc(12px + 0.4vw) Lucida Sans Unicode, sans-serif;
    background-color: white;
    border-radius: 4px;
    outline: none;
}
button:hover {background-color:#F0F0F0;}

.advice {
    font-size: calc(12px + 0.1vw);
}
/* input[name="passwd"] {

    border: 2px solid rgb(87, 226, 87);
} */

#uploadImage {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column
}

#uploadImage form {
    margin: auto;
    padding-top: 50px;
}
#uploadImage form p {
    font-size: 20px;
    margin: 50px;
}
#uploadImage form button {
    margin: 50px;
}
