#pictureBank {
    height: 100%;
    max-height: inherit;
    /* height: auto; */
    /* height: 1500px; */
    margin: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    overflow-x: auto;
    width: 25%;
    min-width: fit-content;
}

.littlePolaBorder {
    /* display: flex; */
    margin: 20px auto;
    top: 20%;
    width: 270px;
    height: 250px;
    background-color: white;
    border: 1px solid #B0B0B0;
    position: relative;
}

#imgInfos {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: row;
    font-size: 14px;
    bottom: 2%;
}
#imgInfos #likes {
    display: flex;
    flex-direction: row;
    margin: auto;
}
#imgInfos #comments {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.usrImg {
    position: absolute;
    width: 250px;
    height: auto;
    margin: 15px 10px auto 10px;
}
.usrImg:hover {filter: blur(4px);}

.publishForm {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 188px;
    margin: 15px 10px auto 10px;
}

#pictureBank .icon {
    width: 30px;
    height: auto;
    margin: 5px;
}

.publishForm button {
    margin: auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid white;
    height: 25%;
}