@import"imgBank.css";

#customPanel {
    display: flex;
    flex-direction: row;
    max-height: 1000px;
}

#customBox {
    /* margin: 20px; */
    display: flex;
    height: 100%;
    min-width: fit-content;
    width: 75%;
    flex-direction: column;
}
#pictureBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    height: 60%;
    min-height: fit-content;
    min-width: fit-content;
    width: 100%;
}
#customOptions {
    display: flex;
    flex-direction: row;
    min-height: 40%;
    min-width: 100%;
    height: fit-content;
    width: fit-content;
    background-color: white;
    border: 1px solid #B0B0B0;
    align-items: center;
}

#filterBox{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.filter {
    width: 250px;
    height: 188px;
    margin: 10px;
    overflow-y: auto;
}
#saveForm {
    width: 100%;
}
#filterBtns {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#filterBtns .myBtn {
    font-size: calc(14px + 00.5vw);
    width: 100%;
}

#cameraPrompt {
    background-image: url("../img/polaroid-esprit-supercolor.jpg");
    background-position: center;
    width: 500px;
    height: 525px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#takePicture {
    margin: auto;
    background-color: rgba(255,255,255,.1);
    color: white;
    font-family: "BunchBlossoms" !important;
    font-size: calc(24px + 0.5vw);
    text-shadow: black 0 0 10px;
    box-shadow: black 0 0 10px;
    padding: 10px 20px;
    border: 2px solid white;
}
#takePicture:hover {
    border: 3px solid white;
    cursor: pointer;
}

.pictureButton{
    font-family: "BunchBlossoms" !important;
    font-size: calc(20px + 0.5vw);
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    width: 500px;
}
.myBtn {
    font-family: "BunchBlossoms" !important;
    font-size: calc(20px + 00.5vw);
    padding: 10px 0;
    margin: auto;
    background-color: white;
    text-align: center;
    width: 500px;
    height: fit-content;
    border: none;
    border-radius: 0;
}
.myBtn:hover { background-color: white;}

.gradientBorder {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    position: relative;
    background: linear-gradient(190deg, #be2edd, #686de0);
    padding: 2px 2px;
}
.gradientBorder:hover {
    padding: 3px;
    cursor: pointer;
}

.polaBorder {
    margin: auto;
    top: 20%;
    width: 540px;
    min-height: 500px;
    height: fit-content;
    background-color: white;
    border: 1px solid #B0B0B0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.toCustomize { 
    /* margin: 30px 20px auto 20px; */
    margin: 30px auto;
    max-width: 500px;
    max-height: 375px;
    /* object-fit: contain; */
}

#video {
    margin: 30px 20px auto 20px;
    width: 500px;
    height: 375px;
    position: absolute;
}
#preview {
    z-index: 1;
    position: absolute;
    margin: 30px 20px auto 20px;
    /* margin: 30px auto; */
    max-width: 500px;
    max-height: 375px;
}