.centerBox {
    margin: 0 auto;
    margin-top: 150px;
}
#topBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: -100px;
    overflow-x: auto;
}

#cameraPrompt {
    background-image: url("../img/polaroid-esprit-supercolor.jpg");
    background-position: center;
    width: 500px;
    height: 525px;
    display: flex;
}

#takePicture {
    margin: auto;
    background-color: rgba(255,255,255,.1);
    color: white;
    font-family: "BunchBlossoms" !important;
    font-size: calc(24px + 0.5vw);
    text-shadow: black 0 0 10px;
    box-shadow: black 0 0 10px;
    padding: 10px 20px;
    border: 2px solid white;
}
#takePicture:hover {
    border: 3px solid white;
    cursor: pointer;
}

.pictureButton{
    font-family: "BunchBlossoms" !important;
    font-size: calc(20px + 0.5vw);
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    width: 500px;
}
.customizeButton {
    font-family: "BunchBlossoms" !important;
    font-size: 17px;
    margin: auto;
    background-color: white;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 0;
}
.customizeButton:hover { background-color: white;}

.gradientBorder {
    max-width: 500px;
    margin: 20px auto;
    position: relative;
    background: linear-gradient(190deg, #be2edd, #686de0);
    padding: 2px 2px;
}
.gradientBorder:hover {
    padding: 3px;
    cursor: pointer;
}

.polaBorder {
    margin: auto;
    top: 20%;
    width: 540px;
    height: 500px;
    background-color: white;
    border: 1px solid #B0B0B0;
}

.littlePolaBorder {
    margin: 20px auto;
    width: 270px;
    height: 250px;
    background-color: white;
    border: 1px solid #B0B0B0;

}

.littlePolaBorder .gradientBorder {
    width: 80%;
    margin-top: 5px;
}

.littlePolaBorder form {
    margin: auto;
}

.myCanvas { 
    margin: 15px 10px auto 10px;
    width: 250px;
    height: 188px;
}

#toCustomize {
    margin: 30px 20px auto 20px;
    display: block;
    max-width: 500px;
    max-height: 375px;
    width: 500px;
    height: 375px;
    /* object-fit: contain; */
}

video {
    margin: 30px 20px auto 20px;
    width: 500px;
    height: 375px;
}