.centerBox {
    margin: auto;
}

#cameraPrompt {
    background-image: url("../img/polaroid-esprit-supercolor.jpg");
    background-position: center;
    width: 500px;
    height: 525px;
    display: flex;
    /* align-items: center; */
}

#takePicture {
    margin: auto;
    background-color: rgba(255,255,255,.1);
    color: white;
    font-family: "BunchBlossoms" !important;
    font-size: calc(24px + 0.5vw);
    text-shadow: black 0 0 10px;
    box-shadow: black 0 0 10px;
    padding: 10px 20px;
    border: 2px solid white;
}
#takePicture:hover {
    border: 3px solid white;
    cursor: pointer;
}

.pictureButton{
    font-family: "BunchBlossoms" !important;
    font-size: calc(20px + 0.5vw);
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    width: 500px;
}

.gradientBorder {
    max-width: 500px;
    margin: 20px auto;
    /* padding: 1rem; */
    position: relative;
    background: linear-gradient(190deg, #be2edd, #686de0);
    padding: 2px 2px;
}
.gradientBorder:hover {
    padding: 3px;
    cursor: pointer;
}

.polaBorder {
    margin: auto;
    width: 540px;
    height: 500px;
    background-color: white;
    border: 1px solid #B0B0B0;
}

video {
    border: 1px solid red;
    margin: 30px 20px auto 20px;
    width: 500px;
    height: auto;
}